@import '../../index.scss';

.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    a {
        text-decoration: none;
        .title{
            font-size: 2rem;
            font-family: $primary-font;
            font-weight: 700;
            color: $very-dark-color;
        }
    }
}

.darkMode{
    display: flex;
    align-items: center;
    gap: 12px;
    p{
        font-family: $primary-font;
        font-size: 1rem;
        font-weight: 600;
    }
}