.cards{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
    padding: 0 2rem;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 2rem;
}

@media screen and (max-width: 600px) {
    .cards{
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .search{
        flex-direction: column;
        gap: 1rem;
    }
}