.cards{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
